body{
    background-color: rgb(8, 1, 1);
}

/*title*/
/* >>> */
.title {
    color: rgb(255, 17, 0);
    font-style: italic;
    font-style: serif;
    font-size: 35px;
    margin-left: 15px;
    margin-bottom: 5px;
}




/* navigation */
/* >>> */
.navbar{
    display:flex;  
    flex-wrap: wrap;
    background-color: none;
    /* justify-content: space-between; */
    /* gap: auto; */
   
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    padding-inline-start: 5px;
}

/* nav element */
.navbar li{
    display: inline-block;
    list-style: none;
    padding: 2px 10px;
    margin: 4px 3px;
    transition: 0.6s;
    /* transform: 5px; */
    font-style: oblique;   
    font-size: 20px;
}  

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: rgb(238, 250, 22);
    border: 2px dotted white;
    transform: 200%;
    transition: all ease 0.3s;
    opacity: 0.5;
}


/* class of whole search bar */
.form{
    padding: 22px;
    margin-right: 25px;
    position: relative; 
}

.form input{
    border: 4px solid rgb(243, 22, 22);
    border-radius: 20px;
    width: 200px;
    height: 20px;
    padding-left: 22px;
}

/* For searh icon*/
.search_button {
    position: absolute;
    font-size: 13px;
    left: 39px;
    top: 41%;
    transform: translateY(-100%);
    transform: translateX(-50%);
    background: transparent;
    border: none;
    color: black;
}


.list1{
    color: white;
    font-size: 18px;
    font-style: oblique;   
    margin-left: 10px;

}


/* CSS for Slideshow Container */
/* >>> */

#show{
    display: box;
}

.mySlides {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 35vw;
    /* height: 25vw; */
    clip-path: polygon(0 0, 100% 0, 68% 110%, 0% 100%); 
    border-radius: 50%;
    background-color: black;
}
  
/* image width of slide-show */
.slide {
    height: 20vw;
    width: 42vh;
    animation: slideRightToLeft 1.0s ease-in-out forwards;
    transition: transform 0.4s ease-in-out;  
}


/* Keyframes for Sliding Animation */
@keyframes slideRightToLeft {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(-5%);
    }
}

/* Reduce brightness to 40% */
.slide:hover{
    opacity: 0.6;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;  
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Styling for the button */
.slide-button {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 45%; 
    transform: translateX(-50%);
    text-align: center; 
   
}

/* watch button of automatic slider */
.watch-button {
    padding: 5px 10px; 
    background-color: rgb(209, 236, 8);
    color: black; 
    border: none; 
    border-radius: 5px; 
     font-size: 16px; 
     cursor: pointer; 
     transform: skewX(-20deg);
     transition: background-color 0.3s ease;
}

/* watch button link */
.watch-button a{
    text-decoration: none;
}

/* when watch buttun is hover */
.watch-button:hover {
    background-color: rgb(0, 153, 204);
}



/* background image of top part  */
.top {
    position: sticky;
    z-index: 1000;
    background-image: url("netflixhd.jpg");
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat; 
  }

  

/* main content list of  catogorised movies description*/
/* >>> */
.main{
    background-image: linear-gradient( to right ,black, rgb(100, 74, 48),black);   
    /* display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:space-around; */
}



/* list of diffrent catogorised movies */
.listofmovies{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline-start: 0px;
    justify-content: space-between;
}

/* movies in any single catogory */
.movies-list{
    display: flex;
    gap: 50px;
    flex-direction: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    /* justify-content: space-between; */

}

.movies-list::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
}

/* name of catogorised movie */
.diffrent-list h2{
    display: block;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 3px;
}

/* show movies in row by wrapping  */
.show_related_movies {
    display: flex;
    gap: 50px;
    flex-direction: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.show_related_movies::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit (Chrome, Safari, etc.) */
}

.show_related_movies {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


/* class of present movie and its name */
.pictures{
    position: relative;
    flex: 0 0 auto; 
    /* margin-right: 40px; */
}

/* images of movies */
.img{
    height: 250px;
    width: 180px;
    border-radius: 8%;
    transition: transform 0.4s ease-in-out;
    /* transform-origin: top; */
}

/* text of the movie */
.text{
    text-align: center;
    max-width: 350px;
    color: white; 
    transition: transform 0.4s ease-in-out;
}

/* image tranformation */
.pictures:hover .img {
    transform: scale(1.1); 
    transform-origin: top ;
    opacity: 0.4;
}


/* text transition  */
.pictures:hover .text{
    transform: scale(1.12);
    transform-origin: top ;
    color: red;
} 

.pictures:hover .play-btn{
    display: block;
    text-decoration: none;
}

.pictures:hover .show_moviename{
    display: block;
    text-decoration: none;
}

/* play button on the image */
.playbutton_container {
    transition: all 0.3s ease;
    z-index: 10;   
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    transition: all 0.3s ease;
    display: none;  
}

.show_moviename {
    position: absolute;
    top: calc(50% + 30px); 
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
    display: none;
    white-space: nowrap; 
}


/* if movie not found */
/* >>> */

/* message box */
.message{
    color: white;
    text-align: center;  
    font-size: 25px;
    margin-top: 60px;
}

/* refresh button */
.refresh {
    display: flex;
    justify-content: center;
}

/* movie not found button */
.refresh button {
    margin-top: 40px;
    text-align: center;
    background-color: rgb(8, 205, 236);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px; 
    border-color: black;
    margin-bottom: 20px;
}

/* related movies list */
.relatedMovies{
    margin-top: 1000px;
}


/* dont show image slide for low screen size in desktop */
@media (max-width: 823px)
{
    #show{
        display: none;
    }
}



/*  for mobile phone */
/* >>> */
@media screen and (max-width: 500px) {

    /* title */
    .title{
        font-size: 25px;
        margin-bottom: 0px;
        margin-left: 8px;
        margin-top: 0px;
    }
    
    .left{
       margin-top: -5px;
       margin-bottom: -10px;
    }

    /* navbar */
    .navbar li{ 
        display: flex;
        padding: 2px 2px;
        /* transition: 0.6s; */
        font-size: 15px;
    }  
    
    /* for input in search */
    .navbar input {
        width: 140px;
    }

    .form{
        padding: 0px;
        margin-left: 6px;
        margin-bottom: 15px;
    }

    /* For searh icon*/
    .search_button {
        position: absolute;
        font-size: 13px;
        left: 16px;
        top: 30%;

    }

    /* reset button */
    .reset{  
        margin-top: 5px;
    }

    /* dont show image slider.  */
    #show{
        display: none;
    }


    /* movie catogory name */
    .diffrent-list h2{
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    /* movies in one catogory */
    .movies-list{
        justify-content: space-between;
        gap: 15px;
    }

    /* list of all catogories */
    .listofmovies{
        gap: 8px;
    }

    .img{
        height: 190px;
        width: 130px; 
    }
    
    /* text of the movie */
    .text{
        font-size: 13px;
        max-width: 350px;
    }

    /* message box , movies not found */
    .message{
        font-size: 18px;
    }

    .top{
        /* position: fixed; */
        padding: 0px;
        margin: 0px;
    }

    /* message box */
    .message{
        font-size: 18px;
        margin-top: 20px;
    }

    /* refresh button */
    .refresh button {
        margin-top: 5px;
        font-size: 18px;
    }

    .show_related_movies{
        gap: 8px;
        /* justify-content: space-around; */
    }
   
}


